@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@if (ViewBag.Loi != null)
{
    <h1>ViewBag.Loi</h1>
}

<div class="content">
    <form method="post">
        <div class="form-group">
            <input class="form-control" name="name" type="text" placeholder="Tên sản phẩm" value="@ViewBag.Giay.Name" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" name="type" type="text" placeholder="Loại" value="@ViewBag.Giay.Type" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" name="size" type="text" placeholder="Kích thước" value="@ViewBag.Giay.Size" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" name="price" type="text" placeholder="Giá" value="@ViewBag.Giay.Price" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" name="quantity" type="text" placeholder="Số lượng" value="@ViewBag.Giay.Quantity" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" name="desciption" type="text" placeholder="Mô tả" value="@ViewBag.Giay.Desciption" readonly>
        </div>
        <div class="form-group">
            <input class="form-control" name="imagepath" type="text" placeholder="Hình ảnh" value="@ViewBag.Giay.ImagePath" readonly>
        </div>

        <div class="form-group">
            <a class="btn app-btn-primary" href="~/Admin/EditShoes/@ViewBag.Giay.ID">
                Sửa
            </a>

            <a class="btn btn-warning" href="~/Admin/QLSanPham">
                Trở về
            </a>
        </div>
    </form>
</div>






