@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

@if (ViewBag.Loi != null)
{
    <h1>ViewBag.Loi</h1>
}

<div class="content">
    <form method="post">
        <div class="form-group">
            <input class="form-control" name="name" type="text" placeholder="Tên sản phẩm" value="@ViewBag.Giay.Name" >
        </div>
        <div class="form-group">
            <input class="form-control" name="type" type="text" placeholder="Loại" value="@ViewBag.Giay.Type">
        </div>
        <div class="form-group">
            <input class="form-control" name="size" type="text" placeholder="Kích thước" value="@ViewBag.Giay.Size">
        </div>
        <div class="form-group">
            <input class="form-control" name="price" type="text" placeholder="Giá" value="@ViewBag.Giay.Price">
        </div>
        <div class="form-group">
            <input class="form-control" name="quantity" type="text" placeholder="Số lượng" value="@ViewBag.Giay.Quantity">
        </div>
        <div class="form-group">
            <input class="form-control" name="desciption" type="text" placeholder="Mô tả" value="@ViewBag.Giay.Desciption">
        </div>
        <div class="form-group">
            <input class="form-control" name="imagepath" type="text" placeholder="Hình ảnh" value="@ViewBag.Giay.ImagePath">
        </div>

        <div class="form-group">
            <button type="submit" class="btn app-btn-primary">
                Lưu
            </button>

            <a class="btn btn-warning" href="~/Admin/QLSanPham">
                Trở về
            </a>
        </div>
    </form>
</div>






